.public-contract {
  .no-color {
    color: #909399;
  }
  .navbar-fixed-top {
    top: 0;
    .navbar-button {
      a {
        color: white;
      }
      i {
        padding-right: 10px;
      }
    }
  }
  #navbar-menu {
    float: left;
  }
  .navbar-brand {
    .logo {
      width: 150px;
    }
  }
  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .bonus-info {
    padding-left: 50px;
  }
  .container {
    padding-top: 80px;
  }
  .center-head {
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  h4 {
    font-size: 1rem;
  }
  b {
    font-weight: 700;
  }
  hr {
   margin: 20px 0;
  }
  .public-contract {
    background-color: white;
  }
  .no-photo {
    p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  }
  .contract {
    margin-top: 40px;
      &-detail {
      padding: 30px 0;
      width: 50%;
      margin: 0 auto;
      white-space: nowrap;
      h5 {
        padding: 10px 0;
      }
    }
  }
  .label-small {
    width: 200px;
  }
  .contract-info-main {
    margin-top: -70px;
  }
  .fa {
    font-size: 25px;
  }
  .gotoUrl {
    font-size: 15px;
  }
  @media(max-width: 450px) {
    .menu-pc {
      display: none;
    }
    .menu-mobile {
      display: block;
    }
  }
  @media(min-width: 451px) {
    .menu-pc {
      display: block;
    }
    .menu-mobile {
      display: none;
    }
  }
  .contracts-form {
    width: 80%;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem 1rem;
    min-height: 240px;
    .avatar {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      shape-outside: circle(50% at 50% 50%);
      position: relative;
      img {
        max-width: 100%;
        border-radius: 50em;
        vertical-align: initial;
      }
    }
    @media(max-width: 450px) {
      width: 100%;
      min-height: auto;
    .avatar {
      width: 5rem;
      height: 5rem;
      }
    }
  }
  .tag {
    color: white;
    font-weight: bold;
    margin: 0 0 10px 10px;
    &-danger {
    background: #F56C6C;
    }
    &-primary {
    background: #409EFF
    }
  }
  .menu-fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  .avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 95%;
    shape-outside: circle(50% at 50% 50%);
    position: relative;
    &:hover {
      .avatar-image {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      vertical-align: middle;
    }
  }
    &-image {
      height: 100%;
      backface-visibility: hidden;
      transition: all 0.2s;
      width: 100%;
      object-fit: cover;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
    }
  }
  .over-layer {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .popover {
    padding: 12px 0;
    border: 0;
    outline: none;
  }
  .photographer-container {
    position: relative;
    height: 450px;
    background: #f0f0f0;
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
    .title {
      text-align: center;
      padding: 30px 0 50px 0;
    }
    .photographer-list {
      display: flex;
      justify-content: space-evenly;
      .detail-container {
        text-align: center;
        padding: 20px 40px;
        background-color: rgba(255,255,255, 0.3);
        border-radius: 10px;
      .detail {
        width: 10rem;
        height: 10rem;
        background-color: white;
        border-radius: 50%;
        shape-outside: circle(50% at 50% 50%);
        border: 2px solid white;
        overflow: hidden;
        position: relative;
        &:hover {
          .detail-image {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            vertical-align: middle;
          }
        }
        &-image {
          height: 100%;
          backface-visibility: hidden;
          transition: all 0.2s;
          width: 100%;
          object-fit: cover;
          -webkit-transition: all 0.6s;
          transition: all 0.6s;
        }
        &-name {
          padding-top: 20px;
          font-weight: bold;
          font-size: larger;
        }
      }
    .contact-container {
      display: flex;
      justify-content: space-evenly;
    }
      }
    }
    @media(max-width: 450px) {
      height: 1000px;
      .photographer-list {
        display: block;
        .detail-container {
          margin-bottom: 20px;
          .detail {
            margin: 0 auto;
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
  .price-contract {
    padding: 10px 0;
  }
  .container {
    padding-top: 80px;
  }
  .center-head {
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  h4 {
    font-size: 1rem;
  }
  b {
    font-weight: 700;
  }
  hr {
    margin: 20px 0;
  }
  .background-head {
    background-image: url(../../assets/img/main.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 520px;
    .head-meta {
      position: relative;
    }
    &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.7);
    }
  }
  .photo-back {
    background-image: url(../../assets/img/photo-back.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    .photo-meta {
      height: 100%;
      position: relative;
      color: white;
    }
    &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    }
  }
}
