<div class="policies__content">
  <h1 class="policies__header">Điều khoản Dịch vụ Classic Studio</h1>
  <h2 class="policies__subheader">Chào mừng đến với Classic Studio!</h2>
  <p>Dịch vụ của Classic Studio (“Dịch vụ Classic Studio) được đặt tại customer.theclassic.studio và được điều hành bởi Classic Studio.
   Dịch vụ Classic Studio cung cấp cho khách hàng trải nghiệm về ảnh và các dịch vụ liên quan ở chất lượng cao.</p>
  <p>Chúng tôi cung cấp Dịch vụ Classic Studio theo các Điều khoản Dịch vụ sau, cụ thể bao gồm <a
      href="/chinh-sach-bao-mat">Chính sách về Quyền riêng tư</a> của Classic Studio. Nếu bạn không đồng ý với những Điều khoản Dịch vụ
    này, bạn không được phép sử dụng Dịch vụ Classic Studio. Xin lưu ý, những Điều khoản Dịch vụ này áp dụng cho tất cả các
    sản phẩm và dịch vụ của chúng tôi. Nếu chúng tôi đưa vào một số điều khoản bổ sung về các công cụ mà bạn có thể tải
    về từ Dịch vụ hoặc các dịch vụ khác, những quy định này cũng nằm trong các Điều khoản Dịch vụ.</p>
  <h2 class="policies__subheader">Sử dụng Dịch vụ Classic Studio</h2>
  <p><b>Thông tin bạn cung cấp:</b> Một số tính năng của Dịch vụ Classic Studio yêu cầu đăng ký. Nếu bạn chọn đăng ký, bạn
    đồng ý cung cấp và duy trì thông tin luôn cập nhật, đầy đủ và chính xác về bản thân. Dữ liệu đăng ký và thông tin cá
    nhân của bạn được quản lý bởi Chính sách về Quyền riêng tư của chúng tôi.</p>
  <p><b>Tài khoản Thành viên, Mật khẩu và Bảo mật:</b> Bạn có trách nhiệm duy trì sự bảo mật cho tài khoản và mật khẩu
    của bạn nếu có và bạn hoàn toàn chịu trách nhiệm cho bất kỳ và tất cả hoạt động nào xảy ra đối với tài khoản và mật
    khẩu của bạn. Vui lòng thông báo ngay cho Classic Studio nếu có bất kỳ hành động sử dụng trái phép tài khoản hoặc mật
    khẩu của bạn hoặc bất kỳ hành vi xâm phạm bảo mật nào.</p>
  <p><b>Dịch vụ Mạng Xã hội</b> Bạn có thể cho phép một số thành phần của Dịch vụ hoặc đăng nhập vào Dịch vụ thông qua
    một số dịch vụ mạng xã hội của bên thứ ba, chẳng hạn như Facebook (“Dịch vụ Mạng Xã hội”). Bằng cách đăng nhập hoặc
    trực tiếp tích hợp những Dịch vụ Mạng Xã hội này vào Dịch vụ Classic Studio, chúng tôi làm cho các công cụ và trải nghiệm
    trực tuyến của bạn phong phú hơn, mạnh mẽ hơn và tùy chỉnh cho cá nhân bạn. Để tận dụng lợi thế của những tính năng
    và khả năng này, chúng tôi có thể yêu cầu bạn xác thực, đăng ký hoặc đăng nhập vào những Dịch vụ Mạng Xã hội đó. Các
    Dịch vụ Mạng Xã hội là một trong những hoạt động tích hợp giúp chúng tôi có quyền truy cập vào một số thông tin mà
    bạn đã cung cấp cho các Dịch vụ Mạng Xã hội đó, và chúng tôi sẽ sử dụng, lưu trữ và tiết lộ những thông tin đó theo
    Chính sách về Quyền riêng tư của chúng tôi.</p>
  <p>Xin lưu ý Classic Studio không kiểm soát cách thức các Dịch vụ Mạng Xã hội sử dụng, lưu trữ và tiết lộ thông tin của
    bạn. Vui lòng xem lại chính sách của các Dịch vụ Mạng Xã hội để hiểu các quy tắc bảo mật liên quan tại đó. Classic Studio
    cũng không kiểm soát nội dung có sẵn thông qua bất kỳ Dịch vụ Mạng Xã hội nào. Vui lòng xem lại chính sách của họ để
    hiểu các quy tắc liên quan đến nội dung. Classic Studio không có bất kỳ nghĩa vụ hoặc trách nhiệm nào đối với các hành vi
    hay thiếu sót của bất kỳ Dịch vụ Mạng Xã hội nào được truy cập thông qua Dịch vụ Classic Studio. Classic Studio cho phép các
    tính năng này chỉ để bạn sử dụng thuận tiện và việc chúng tôi tích hợp hoặc đưa vào những tính năng này không ngụ ý
    là sự tán thành hay khuyến nghị sử dụng của chúng tôi.</p>
  <p><b>Khuyến mãi:</b> Bất kỳ cuộc thi, rút thăm trúng thưởng, khảo sát, trò chơi hoặc chương trình khuyến mãi tương tự
    (gọi chung là “Khuyến Mãi”) được thực hiện thông qua Dịch vụ Classic Studio được điều chỉnh bởi các quy tắc cụ thể được
    bổ sung vào các Điều khoản Dịch vụ này. Bằng việc tham gia vào bất kỳ chương trình khuyến mãi nào, bạn sẽ tuân thủ
    các quy tắc của chương trình đó. Trong phạm vi mà các điều khoản và điều kiện của quy tắc Khuyến mãi mâu thuẫn với
    các Điều khoản Dịch vụ, các điều khoản và điều kiện của chương trình Khuyến mãi sẽ có hiệu lực áp dụng.</p>
  <p><b>Yêu cầu Độ tuổi</b> Nếu bạn dưới 13 tuổi, bạn không được phép sử dụng Dịch vụ. Nếu bạn dưới 18 tuổi, bạn có thể
    sử dụng Dịch vụ Classic Studio chỉ khi có sự đồng ý của bố mẹ hoặc người giám hộ của bạn.</p>
  <p><b>Luật áp dụng</b> Liên quan đến việc bạn sử dụng Dịch vụ Classic Studio, bạn sẽ tuân thủ tất cả các luật, quy tắc và
    tiêu chuẩn ngành hiện hành.</p>
  <p><b>Quy tắc thực hành chung và Hướng dẫn việc sử dụng:</b> Bạn sẽ tuân thủ mọi hướng dẫn mà Classic Studio cung cấp cho
    bạn liên quan đến việc bạn sử dụng Dịch vụ Classic Studio. Classic Studio có thể thiết lập những quy tắc thực hành và giới hạn
    chung liên quan đến việc sử dụng Dịch vụ Classic Studio. Classic Studio giữ quyền thay đổi các hướng dẫn, các quy tắc và giới
    hạn chung bất cứ lúc nào, tùy theo quyết định của Classic Studio, có hoặc không có thông báo đến bạn.</p>
  <h2 class="policies__subheader" id="sellers">Người bán: Tạo và Thực hiện các Chiến dịch Classic Studio</h2>
  <p>Dịch vụ Classic Studio cho phép người bán tạo ra các chiến dịch và bán hàng hóa và quần áo tùy chỉnh thông qua những
    chiến dịch đó. Sau đây là các nghĩa vụ cụ thể liên quan đến việc bắt đầu của một chiến dịch. Trong phạm vi bất kỳ
    chiến dịch nào vi phạm các Điều khoản Dịch vụ, chúng tôi có thể chọn cách chấm dứt, trì hoãn hoặc sửa đổi chiến dịch
    tùy theo quyết định của chúng tôi.</p>
  <p><b>Quyền thực hiện chiến dịch của bạn</b> Bằng cách tạo ra một chiến dịch thông qua Dịch vụ Classic Studio, bạn tuyên bố
    và bảo đảm rằng bạn là người sở hữu hoặc là người được cấp phép của tất cả các quyền nhãn hiệu, bản quyền tác giả,
    quyền công khai, các quyền sở hữu tài sản trí tuệ hoặc các quyền sở hữu khác cần thiết để tạo và thực hiện chiến
    dịch (“Quyền Chiến dịch”), bao gồm tất cả các quyền liên quan đến tên, mô tả, hình ảnh, văn bản hoặc URL được sử
    dụng cho chiến dịch. Bạn sẽ cung cấp cho Classic Studio bằng chứng về Quyền Chiến dịch của bạn nếu có yêu cầu.</p>
  <p>Classic Studio không đòi nhận quyền sở hữu về nội dung mà bạn tải lên Dịch vụ Classic Studio. Hãy chắc chắn rằng bạn giữ bản
    sao của tất cả các tác phẩm của bạn. Classic Studio không có trách nhiệm hoặc nghĩa vụ nào đối với việc xóa hoặc không
    lưu trữ bất kỳ nội dung hoặc thông tin nào được tải lên Dịch vụ Classic Studio.</p>
  <p>Classic Studio giữ mọi quyền sở hữu cho bất kỳ mẫu thiết kế nào được tạo ra bởi nhà thiết kế Classic Studio và bạn không thể
    sử dụng các mẫu thiết kế này mà không có sự đồng ý bằng văn bản của Classic Studio, ngoài việc kết nối với các chiến dịch
    của bạn trên Dịch vụ Classic Studio.</p>
  <p>Vì mục đích triển khai và thực hiện chiến dịch của bạn và vì mục đích quảng cáo Dịch vụ Classic Studio trên các phương
    tiện Classic Studio lựa chọn, tại đây bạn cấp cho Classic Studio giấy phép không độc quyền, áp dụng trên phạm vi toàn thế
    giới, được thanh toán đầy đủ, có thể chuyển nhượng và có thể cấp phép lại trong phạm vi Quyền Chiến dịch của bạn để
    Classic Studio thực hiện việc sao chép, hiển thị, phân phối, sửa đổi các nội dung mà bạn tải lên Dịch vụ Classic Studio (bao
    gồm tất cả các hình ảnh, văn bản, nội dung và thông tin liên quan).</p>
  <p><b>Các hoạt động sử dụng được chấp nhận; Bồi thường:</b> Việc bạn sử dụng Dịch vụ Classic Studio, bao gồm việc tạo ra và
    thực hiện các chiến dịch sản phẩm, phải tuân thủ các Điều khoản Dịch vụ (bao gồm Chính sách về các hoạt động sử dụng
    được chấp nhận của chúng tôi). Trong phạm vi bất kỳ chiến dịch nào vi phạm hoặc bị cáo buộc là vi phạm Chính sách về
    các hoạt động sử dụng được chấp nhận của chúng tôi hoặc bất kỳ phần nào khác của Điều khoản Dịch vụ này, ngoài mọi
    biện pháp khắc phục khác, bạn đồng ý rằng Classic Studio có quyền giữ lại và chuyển hướng sử dụng bất kỳ số tiền nào thu
    được liên quan đến chiến dịch và những số tiền này sẽ được xử lý theo chính sách nội bộ của Classic Studio (chẳng hạn như
    Classic Studio có thể dành tặng số tiền đó cho một quỹ từ thiện mà chiến dịch đã phát ngôn không trung thực rằng đang gây
    quỹ cho tổ chức từ thiện đó, hoặc Classic Studio có thể dành số tiền này cho bất kỳ phán quyết hoặc giải quyết, và/hoặc
    hoàn trả chi phí của Classic Studio, do yêu cầu bồi thường của bên thứ ba bị vi phạm) và để kiểm soát việc bảo vệ hoặc
    giải quyết mọi khiếu nại hoặc vụ kiện xảy ra từ việc vi phạm hoặc bị cáo buộc vi phạm như vậy; và bạn đồng ý hợp tác
    đầy đủ với Classic Studio về các hoạt động nêu trên. Không bị hạn chế bởi nội dung quy định trên đây, bạn cũng đồng ý bồi
    thường và giữ Classic Studio không bị thiệt hại trước bất kỳ và tất cả trách nhiệm, tổn thất, thiệt hại và chi phí phát
    sinh từ việc vi phạm của bạn hoặc bất kỳ vi phạm bị cáo buộc đối với Chính sách về các hoạt động sử dụng được chấp
    nhận của chúng tôi hoặc bất kỳ phần nào khác của những Điều khoản Dịch vụ này.</p>
  <p><b>Chất lượng của Tác phẩm để in và Khuyến mãi:</b> Mỗi chiến dịch phải đáp ứng các tiêu chuẩn sản xuất hợp lý (ví
    dụ một chiến dịch không thể bao gồm một hình ảnh chất lượng thấp cho bản in không đẹp). Tất cả các quảng cáo hoặc mô
    tả khuyến mãi của bạn, bao gồm nội dung được tải lên Dịch vụ Classic Studio, phải chính xác và đúng sự thực cũng như
    không bao gồm bất kỳ nội dung về các hoạt động, sự kiện, sản phẩm, dịch vụ hoặc khuyến mãi nào không liên quan đến
    Classic Studio.</p>
  <p><b>Tiền thu được từ Chiến dịch:</b> Nếu bạn tạo một chiến dịch thông qua Dịch vụ Classic Studio, bạn sẽ nhận được “giá
    gốc” từ Classic Studio cho mỗi sản phẩm. Bạn cũng sẽ có cơ hội đặt giá bán cho mỗi sản phẩm. Khi chiến dịch của bạn được
    tung ra và các sản phẩm được bán ra, bạn sẽ kiếm được chênh lệch giữa giá gốc và giá bán và đó là phần lợi nhuận của
    bạn. Bạn có thể yêu cầu thanh toán thông qua bảng điều khiển của bạn bất cứ lúc nào. Trách nhiệm trả thuế thu nhập
    nếu có sẽ chỉ và hoàn toàn thuộc về bạn cho các khoản tiền bạn kiếm được thông qua Dịch vụ Classic Studio. Trước khi nhận
    được tiền thanh toán của bạn, bạn có thể được yêu cầu cung cấp thêm thông tin cho Classic Studio khi cần để tuân thủ
    nghĩa vụ báo cáo của Classic Studio.</p>
  <p><b>Tranh chấp Đối tác:</b> Nếu bạn làm việc với những người khác về chiến dịch của bạn và xảy ra tranh chấp giữa
    bạn và các đối tác đó, Classic Studio có quyền thực hiện thanh toán và đáp ứng yêu cầu của người đăng ký ban đầu dù
    Classic Studio có nhận được thông báo về tranh chấp đó. Ngoài ra, theo quyết định riêng của Classic Studio, Classic Studio có thể
    giữ lại khoản tiền thanh toán cho đến khi tranh chấp được giải quyết.</p>
  <p><b>Từ thiện/Gây quỹ:</b> Bạn tuyên bố và bảo đảm rằng bất kỳ chiến dịch nào bạn tạo ra có liên quan đến mục đích từ
    thiện hoặc gây quỹ, dù là ngụ ý hay rõ ràng, cũng phải có được sự ủy quyền của tổ chức từ thiện hoặc gây quỹ đó, và
    bạn sẽ chắc chắn rằng mô tả chiến dịch của bạn sẽ nêu ra rõ ràng và chính xác tỷ lệ tiền sẽ được hiến tặng và những
    người sẽ được hiến tặng.</p>
  <p><b>Quyền hạ thấp mục tiêu bán hàng của Classic Studio:</b> Bạn sẽ có thể thiết lập “mục tiêu bán hàng” cho mỗi chiến
    dịch. Bạn đồng ý rằng Classic Studio có thể, tùy theo quyết định riêng của Classic Studio, bắt đầu thực hiện các đơn đặt hàng
    trước khi đạt đến mục tiêu bán hàng của bạn.</p>
  <h2 class="policies__subheader" id="ip">Khiếu nại về Quyền Sở hữu Trí tuệ</h2>
  <p><b>Infringement Claims Between Classic Studio Users, Waiver of Claims:</b> As a condition of using the Classic Studio
    Service, you agree to submit any and all infringement claims against Classic Studio users (so called “Copycat Claims”)
    pursuant to Classic Studio's existing policies and procedures governing such claims. You further agree, as a condition of
    using the Classic Studio Service, to waive any and all claims against Classic Studio arising from alleged infringement by you
    or another Classic Studio user. In addition, you understand that Classic Studio may release your contact information to any
    Classic Studio User that satisfactorily alleges a violation of its rights under this section.</p>
  <p>Classic Studio xem trọng mọi cáo buộc về sự xâm phạm. Nếu Classic Studio nhận được bất kỳ khiếu nại hay cáo buộc rằng chiến
    dịch của bạn hoặc bất kỳ hàng hóa nào theo đó dẫn đến việc sử dụng trái phép các quyền của bên thứ ba, bạn hiểu rằng
    Classic Studio có thể chấm dứt hoặc trì hoãn chiến dịch của bạn, tùy theo quyết định riêng của Classic Studio. Ngoài ra, bạn
    hiểu rằng Classic Studio có thể tiết lộ thông tin liên lạc của bạn cho bất kỳ bên thứ ba nào có cáo buộc thỏa đáng về
    việc bạn vi phạm quyền lợi của họ.</p>
  <p>Classic Studio sẽ chỉ xem xét các khiếu nại về khả năng xâm phạm được đưa ra bởi các bên có quyền sở hữu hoặc có độc
    quyền khai thác, quyền sở hữu trí tuệ theo quy định. Nếu bạn tin rằng một người dùng Classic Studio đã xâm phạm quyền lợi
    của bạn, vui lòng thông báo cho Classic Studio qua trang
    của chúng tôi. Bạn cũng có thể liên hệ với chúng tôi qua email theo địa chỉ được cung cấp ở cuối các Điều khoản Dịch
    vụ này, người nhận là Phòng Pháp chế.</p>
  <p>Bạn phải đưa vào các thông tin sau trong thông báo của bạn.</p>
  <ul>
    <li>Chữ ký điện tử hoặc chữ ký vật lý của người được ủy quyền làm việc thay mặt chủ sở hữu tài sản trí tuệ mà bạn
      cáo buộc rằng đang bị xâm phạm;</li>
    <li>URL cho (các) chiến dịch Classic Studio được sử dụng liên quan đến việc bán các hàng hóa bị cáo buộc vi phạm;</li>
    <li>Xác định các quyền về bản quyền, nhãn hiệu hoặc các quyền khác được cho là đã bị vi phạm, bao gồm giấy tờ chứng
      minh quyền sở hữu (như bản sao của nhãn hiệu đang hoạt động hoặc giấy đăng ký bản quyền);</li>
    <li>Tên đầy đủ, địa chỉ, (các) số điện thoại và (các) địa chỉ email của bạn;</li>
    <li>Một tuyên bố rằng bạn có niềm tin với thiện chí rằng việc sử dụng tài liệu trong URL được nộp lên đã không được
      cho phép bởi chủ sở hữu quyền hoặc người cấp phép, và việc sử dụng này tạo thành hành vi vi phạm theo luật liên
      bang hoặc tiểu bang; và</li>
    <li>Một tuyên bố, theo hình phạt về tội khai man, rằng những thông tin trong thông báo là đầy đủ và chính xác và bạn
      được ủy quyền làm việc thay mặt cho chủ sở hữu quyền tác giả hoặc các quyền khác được cho là bị vi phạm.</li>
  </ul>
  <p><b>Chính sách về các hành vi xâm phạm lặp đi lặp lại:</b> Classic Studio đã thông qua một chính sách chấm dứt những
    người dùng được xem là người xâm phạm lặp đi lặp lại, tùy từng tình huống phù hợp và theo quyết định riêng của
    Classic Studio. Classic Studio cũng có thể, theo quyết định riêng của mình, hạn chế việc truy cập Dịch vụ Classic Studio hoặc chấm
    dứt tư cách thành viên của bất kỳ người dùng nào xâm phạm hoặc vi phạm quyền sở hữu trí tuệ hoặc các quyền khác của
    người khác, dù hành vi xâm phạm hoặc vi phạm đó có lặp đi lặp lại hay không.</p>
  <h2 class="policies__subheader" id="buyers">Người mua: Mua Hàng hóa</h2>
  <p><b>Thanh toán:</b> Nếu bạn mua hàng hóa thông qua Dịch vụ Classic Studio, bạn sẽ được yêu cầu cung cấp thông tin liên
    quan đến thẻ tín dụng của bạn hoặc công cụ thanh toán khác cho Classic Studio. Bạn tuyên bố và bảo đảm với Classic Studio rằng
    thông tin cung cấp là đúng sự thực và bạn được phép sử dụng công cụ thanh toán. Bạn sẽ chịu trách nhiệm về mọi khoản
    thuế liên quan đến việc mua hàng của bạn thông qua Dịch Vụ.</p>
  <p><b>Mất mát và Hủy bỏ:</b> Quyền sở hữu và rủi ro mất mát cho tất cả các hàng hóa mà bạn đặt hàng sẽ chuyển sang cho
    bạn sau khi chúng tôi chuyển hàng đến hãng vận chuyển. Chúng tôi giữ quyền hủy đơn đặt hàng cho bất kỳ hàng hóa nào
    vì bất kỳ lý do gì.</p>
  <p><b>Trả về:</b> Bạn thừa nhận và đồng ý sản phẩm chúng tôi sản xuất cho bạn là sản phẩm được đặt riêng và làm theo
    dạng tùy chỉnh. Ngoài ra, nếu sản phẩm bị lỗi, bạn không có quyền hủy bất kỳ đơn hàng nào hoặc trả hàng bất kỳ sản
    phẩm nào vì tất cả đơn hàng là cuối cùng và không thể thay đổi.</p>
  <p><b>Waiver:</b> Your purchase of an item using the Classic Studio Service constitutes a waiver of any and all
    intellectual property, proprietary, personal, and privacy claims relating to that purchase.</p>
  <h2 class="policies__subheader" id="proprietary">Quyền sở hữu của Classic Studio</h2>
  <p><b>Nội dung Dịch vụ, Phần mềm và Thương hiệu</b> Bạn chỉ được quyền sử dụng Dịch vụ Classic Studio cho mục đích tham gia
    các giao dịch kinh doanh với Classic Studio. Bạn không được sử dụng công nghệ tự động để trích xuất, đào hoặc thu thập
    thông tin từ Dịch vụ Classic Studio hoặc truy cập các trang của Dịch vụ Classic Studio cho bất kỳ mục đích trái phép nào. Nếu
    bạn bị Classic Studio chặn không cho truy cập Dịch vụ Classic Studio (kể cả bằng cách chặn địa chỉ IP của bạn), bạn đồng ý
    không thực hiện bất kỳ biện pháp nào để phá vỡ việc bị chặn như vậy (chẳng hạn như bằng cách che địa chỉ IP của bạn
    hoặc sử dụng một địa chỉ IP proxy). Công nghệ và phần mềm nằm bên dưới Dịch vụ Classic Studio hoặc được phân phối theo
    kết nối đó là tài sản của Classic Studio, các công ty con và đối tác của chúng tôi (“Phần mềm”). Bạn đồng ý không sao
    chép, sửa đổi, tạo ra một sản phẩm phái sinh, đảo ngược kỹ nghệ, đảo ngược lắp ráp hoặc tìm cách phát hiện mã nguồn,
    bán, chuyển nhượng, cấp giấy phép con, hoặc chuyển giao bất kỳ quyền nào trong Phần mềm.</p>
  <p>Dịch vụ Classic Studio có thể chứa hình ảnh, tác phẩm để in, phông chữ và nội dung hoặc tính năng khác (“Nội dung Dịch
    vụ”) được bảo vệ bởi quyền sở hữu trí tuệ và bởi pháp luật. Trừ khi được cho phép bởi Classic Studio, bạn đồng ý không
    sửa đổi, sao chép, sắp xếp, thuê, cho thuê, cho mượn, bán, phân phối hoặc tạo ra tác phẩm phái sinh dựa trên Dịch vụ
    Classic Studio hoặc Nội dung Dịch vụ, dù là toàn bộ hay một phần. Việc sử dụng Dịch vụ Classic Studio hoặc Nội dung Dịch vụ
    khác nằm ngoài sự cho phép cụ thể tại đây đều bị nghiêm cấm. Mọi quyền không được cấp tại đây đều là những quyền
    thuộc về Classic Studio.</p>
  <p>Tên và logo Classic Studio là thương hiệu và nhãn hiệu dịch vụ của Classic Studio (gọi chung là “Thương hiệu Classic Studio”). Các
    tên công ty, sản phẩm và dịch vụ cũng như các logo khác được sử dụng và hiển thị thông qua Dịch vụ Classic Studio có thể
    là thương hiệu hoặc nhãn hiệu dịch vụ của chủ sở hữu tương ứng, những người có thể hoặc không thể xác nhận hoặc được
    liên kết hoặc được kết nối với Classic Studio. Không có nội dung nào trong các Điều khoản Dịch vụ này hoặc Dịch vụ
    Classic Studio được hiểu là việc cấp giấy phép hoặc cấp quyền sử dụng bất kỳ Thương hiệu Classic Studio được hiển thị trên
    Dịch vụ Classic Studio mà không có sự cho phép trước bằng văn bản của Classic Studio cho từng trường hợp. Tất cả lợi thế
    thương mại phát sinh từ việc sử dụng các Thương hiệu Classic Studio sẽ mang lại lợi ích độc quyền của Classic Studio.</p>
  <p><b>Tài liệu bên thứ ba:</b> Trong mọi trường hợp, Classic Studio sẽ không chịu trách nhiệm theo bất kỳ hình thức nào về
    bất kỳ nội dung hoặc tài liệu nào của bên thứ ba (bao gồm người dùng), bao gồm nhưng không giới hạn đến, lỗi hoặc
    thiếu sót về nội dung hoặc tổn thất hoặc thiệt hại theo bất kỳ hình thức nào phát sinh từ việc sử dụng nội dung hoặc
    tài liệu đó. Trong phạm vi được phép tối đa theo luật, các nhà cung cấp nội dung và tài liệu bên thứ ba là những
    người thụ hưởng bên thứ ba theo các Điều khoản Dịch vụ này một cách rõ ràng lẫn ngụ ý cho nội dung và tài liệu của
    họ.</p>
  <p>Classic Studio có thể duy trì nội dung và cũng có thể tiết lộ nội dung khi được yêu cầu làm như vậy theo luật pháp hoặc
    khi tin rằng việc duy trì hoặc tiết lộ đó là cần thiết để: (a) tuân thủ quy trình pháp lý, luật áp dụng hoặc yêu cầu
    của chính phủ; (b) thi hành các Điều khoản Dịch vụ; (c) giải quyết khiếu nại cho rằng nội dung vi phạm các quyền của
    bên thứ ba; hoặc (d) bảo vệ quyền, tài sản hoặc sự an toàn cá nhân của Classic Studio, người dùng của Classic Studio hoặc mọi
    người.</p>
  <h2 class="policies__subheader" id="third-party">Trang web bên thứ ba</h2>
  <p>Dịch vụ Classic Studio có thể cung cấp, hoặc các bên thứ ba có thể cung cấp, các đường link hoặc khả năng truy cập vào
    các trang web và nguồn tài nguyên khác trên Internet. Classic Studio không kiểm soát các trang web và các nguồn tài
    nguyên đó và Classic Studio không chịu trách nhiệm và không xác thực các trang web và nguồn tài nguyên đó. Classic Studio sẽ
    không có trách nhiệm hoặc nghĩa vụ pháp lý nào, dù là trực tiếp hay gián tiếp, đối với bất kỳ thiệt hại hoặc tổn
    thất nào bị gây ra bởi hoặc bị cáo buộc là bị gây ra bởi hoặc liên quan đến việc sử dụng hoặc dựa vào bất kỳ nội
    dung, sự kiện, hàng hóa hoặc dịch vụ hiện có trên hoặc thông qua bất kỳ trang web hoặc nguồn tài nguyên đó. Mọi giao
    dịch của bạn với các bên thứ ba được tìm thấy trong khi sử dụng Dịch vụ Classic Studio là giữa bạn và bên thứ ba, và bạn
    đồng ý rằng Classic Studio không chịu trách nhiệm cho bất kỳ tổn thất nào hoặc khiếu nại mà bạn có thể có đối với bên thứ
    ba đó.</p>
  <h2 class="policies__subheader" id="disclaimer">Miễn trừ Bảo đảm</h2>
  <p>BẠN HOÀN TOÀN CHỊU RỦI RO CHO VIỆC SỬ DỤNG DỊCH VỤ Classic Studio. DỊCH VỤ Classic Studio ĐƯỢC CUNG CẤP TRÊN CƠ SỞ “NGUYÊN
    TRẠNG” VÀ “SẴN CÓ”. KHÔNG LÀM HẠN CHẾ QUYỀN CỦA NGƯỜI MUA VỀ VIỆC HOÀN TRẢ HÀNG HÓA VÀ HOÀN TIỀN TRONG PHẠM VI MÔ TẢ
    TRONG CHÍNH SÁCH HOÀN TRẢ CỦA CHÚNG TÔI, Classic Studio TẠI ĐÂY TUYÊN BỐ MỘT CÁCH RÕ RÀNG VỀ VIỆC MIỄN TRỪ MỌI NGHĨA VỤ
    BẢO ĐẢM THEO BẤT KỲ HÌNH THỨC NÀO VỀ BẤT KỲ CHIẾN DỊCH, HÀNG HÓA HOẶC DỊCH VỤ NÀO, DÙ NHỮNG BẢO ĐẢM NÀY LÀ RÕ RÀNG,
    NGỤ Ý HAY LUẬT ĐỊNH, BAO GỒM CÁC BẢO ĐẢM NGỤ Ý VỀ HÀNG HÓA, TÍNH PHÙ HỢP CHO MỘT MỤC ĐÍCH CỤ THỂ, QUYỀN SỞ HỮU VÀ
    BẢO ĐẢM KHÔNG VI PHẠM.</p>
  <h2 class="policies__subheader" id="limitation">Giới hạn Trách nhiệm</h2>
  <p>Classic Studio SẼ KHÔNG CHỊU TRÁCH NHIỆM VỀ BẤT CỨ THIỆT HẠI NÀO, DÙ LÀ GIÁN TIẾP, NGẪU NHIÊN, ĐẶC BIỆT, MANG TÍNH HỆ
    QUẢ, ĐIỂN HÌNH HOẶC CÁC THIỆT HẠI DO MẤT LỢI NHUẬN, BAO GỒM NHƯNG KHÔNG GIỚI HẠN ĐẾN, THIỆT HẠI DO MẤT LỢI THẾ
    THƯƠNG MẠI, KHÔNG THỂ SỬ DỤNG, MẤT DỮ LIỆU HOẶC CÁC MẤT MÁT VÔ HÌNH KHÁC (THẬM CHÍ KHI Classic Studio ĐÃ ĐƯỢC THÔNG BÁO
    VỀ KHẢ NĂNG CỦA TỔN HẠI ĐÓ), DÙ LÀ DO HỢP ĐỒNG, DO SAI LẦM CÁ NHÂN, SƠ SUẤT, TRÁCH NHIỆM PHÁP LÝ NGHIÊM NGẶT HOẶC LÀ
    KẾT QUẢ CỦA: (I) VIỆC SỬ DỤNG HOẶC KHÔNG THỂ SỬ DỤNG DỊCH VỤ; (II) CHI PHÍ MUA HÀNG HÓA VÀ DỊCH VỤ THAY THẾ DO HÀNG
    HÓA, DỮ LIỆU, THÔNG TIN HOẶC DỊCH VỤ ĐƯỢC MUA HOẶC CÓ ĐƯỢC HOẶC CÁC TIN NHẮN NHẬN ĐƯỢC HOẶC CÁC GIAO DỊCH ĐƯỢC NHẬP
    THÔNG QUA HOẶC TỪ DỊCH VỤ; (III) VIỆC TRUY CẬP TRÁI PHÉP HOẶC THAY ĐỔI ĐƯỜNG TRUYỀN HOẶC DỮ LIỆU CỦA BẠN; HOẶC (I )
    BẤT KỲ VẤN ĐỀ KHÁC LIÊN QUAN ĐẾN DỊCH VỤ. TRONG MỌI TRƯỜNG HỢP, TỔNG SỐ TIỀN MÀ Classic Studio CHỊU TRÁCH NHIỆM VỚI BẠN
    CHO TẤT CẢ CÁC THIỆT HẠI, MẤT MÁT HOẶC NGUYÊN NHÂN CỦA HÀNH ĐỘNG SẼ KHÔNG VƯỢT QUÁ SỐ TIỀN BẠN ĐÃ THANH TOÁN CHO
    Classic Studio HOẶC Classic Studio ĐÃ THANH TOÁN CHO BẠN TRONG SÁU (6) THÁNG TRƯỚC, HOẶC, NẾU LỚN HƠN, LÀ MỘT TRĂM ĐÔ LA (100
    USD). CÁC HẠN CHẾ TRÊN SẼ ÁP DỤNG VỚI PHẠM VI TỐI ĐA CHO PHÉP THEO PHÁP LUẬT.</p>
  <h2 class="policies__subheader" id="termination">Chấm dứt</h2>
  <p>Classic Studio, tùy theo quyết định của mình, có thể đình chỉ hoặc chấm dứt tài khoản của bạn (hoặc bất kỳ phần nào của
    tài khoản) hoặc việc sử dụng Dịch vụ Classic Studio và loại bỏ và bỏ bất kỳ nội dung nào trong Dịch vụ Classic Studio, vì bất
    kỳ lý do gì. Hơn nữa, bạn đồng ý rằng Classic Studio sẽ không chịu trách nhiệm với bạn hoặc bất kỳ bên thứ ba nào về việc
    chấm dứt quyền truy cập của bạn vào Dịch vụ Classic Studio.</p>
  <h2 class="policies__subheader" id="relationship">Quan hệ các bên</h2>
  <p>Mỗi bên là một nhà thầu độc lập trong việc thực hiện mỗi và mọi phần của các Điều khoản Dịch vụ này. Mỗi bên sẽ tự
    chịu trách nhiệm về tất cả các nhân viên, đại lý, chi phí lao động và các chi phí khác của mình, về bất kỳ và tất cả
    các khiếu nại, trách nhiệm pháp lý hoặc thiệt hại hoặc các khoản nợ theo bất kỳ hình thức nào có thể phát sinh trên
    tài khoản hoạt động của bên đó, hoặc của những nhân viên hoặc đại lý của bên đó, trong việc thực hiện các hoạt động
    của bên đó theo các Điều khoản Dịch vụ này. Bạn không có quyền yêu cầu Classic Studio bồi thường theo bất kỳ hình thức
    nào và sẽ không cố gắng để làm điều đó hay ngụ ý rằng bạn có quyền làm như vậy.</p>
  <h2 class="policies__subheader" id="governing">Luật Quản lý</h2>
  <p>Đối với người dùng ở Liên minh Châu Âu: Những Điều khoản Dịch vụ này sẽ được quản lý bởi pháp luật của Vương quốc
    Anh, không xét đến các mâu thuẫn với các quy định của pháp luật. Đối với mọi tranh chấp nếu có, bạn và Classic Studio
    đồng ý tuân thủ phán quyết riêng và duy nhất của tòa án đặt tại London, Anh. Các bên tuyệt đối loại trừ việc áp dụng
    Công ước Liên Hiệp Quốc về Hợp đồng Mua bán Hàng hóa Quốc tế.</p>
  <p>Đối với tất cả người dùng khác: Những Điều khoản Dịch vụ này sẽ được quản lý bởi pháp luật của Bang California,
    không xét đến các mâu thuẫn với các quy định của pháp luật. Đối với mọi tranh chấp nếu có, bạn và Classic Studio đồng ý
    tuân thủ phán quyết riêng và duy nhất của các tòa án tiểu bang và liên bang trong phạm vi Quận San Francisco, bang
    California. Các bên tuyệt đối loại trừ việc áp dụng Công ước Liên Hiệp Quốc về Hợp đồng Mua bán Hàng hóa Quốc tế.
  </p>
  <h2 class="policies__subheader" id="general">Quy định chung</h2>
  <p>Các Điều khoản Dịch vụ này cấu thành toàn bộ thỏa thuận giữa bạn và Classic Studio và điều chỉnh việc bạn sử dụng Dịch
    vụ Classic Studio, thay thế mọi thỏa thuận trước đây giữa bạn và Classic Studio đối với Dịch vụ Classic Studio. Việc Classic Studio
    không thực hiện hoặc thực thi bất kỳ quyền hoặc quy định nào của các Điều khoản Dịch vụ này sẽ không cấu thành việc
    từ bỏ quyền hoặc quy định đó. Nếu bất kỳ điều khoản nào của các Điều khoản Dịch vụ này được xét thấy là không có
    hiệu lực bởi một tòa án có thẩm quyền, các bên vẫn đồng ý rằng tòa án nên cố gắng cho phép thực thi ý định của các
    bên như được phản ánh trong quy định này, và các quy định khác trong các Điều khoản Dịch vụ này vẫn giữ nguyên hiệu
    lực và tác dụng. Một phiên bản in của bản hợp đồng này và của bất kỳ thông báo đưa ra dưới dạng điện tử sẽ được thừa
    nhận trong thủ tục tố tụng tư pháp hoặc hành chính dựa trên hoặc liên quan đến hợp đồng này với cùng mức độ và theo
    các điều kiện tương tự như các tài liệu kinh doanh và hồ sơ khác được tạo ra ban đầu và được duy trì theo hình thức
    bản in. Bạn không thể chuyển nhượng các Điều khoản Dịch vụ này mà không có sự chấp thuận trước bằng văn bản của
    Classic Studio, nhưng Classic Studio có thể chuyển nhượng hoặc chuyển giao các Điều khoản Dịch vụ này, dù là toàn bộ hay một
    phần, mà không bị hạn chế. Các thông báo sẽ được gửi cho bạn qua email hoặc thư thường. Classic Studio cũng có thể gửi
    thông báo cho bạn về những thay đổi của các Điều khoản Dịch vụ hoặc các vấn đề khác bằng cách hiển thị thông báo
    hoặc cung cấp đường link dẫn đến các thông báo chung trên Dịch vụ Classic Studio.</p>
  <h2 class="policies__subheader" id="california">Thông báo cho người dùng ở California</h2>
  <p>Theo Bộ luật Dân sự California Mục 1789.3, người dùng Dịch vụ ở California có quyền nhận thông báo về các quyền cụ
    thể của người tiêu dùng tại: Đơn vị Hỗ trợ Khiếu nại của Phòng Dịch vụ Tiêu dùng của Sở Nội vụ Tiêu dùng California.
    Người dùng có thể liên hệ với cơ quan này tại địa chỉ 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834,
    hoặc qua điện thoại số (916) 445-1254 hoặc (800) 952-5210. Bạn có thể liên hệ với chúng tôi theo địa chỉ Classic Studio,
    Inc., 77 Geary Street, Suite 500, San Francisco, CA 94108 hoặc qua điện thoại số 1-855-Classic Studio (1-855-833-7774).
  </p>
  <h2 class="policies__subheader">Bạn có câu hỏi? Bạn có bận tâm? Bạn có đề xuất?</h2>
  <p><a href="http://answers.Classic Studio.com/customer/en/portal/articles">Vui lòng liên hệ</a> với chúng tôi contact us
    nếu bạn có thắc mắc về Điều khoản Dịch vụ hoặc Dịch vụ của Classic Studio.</p>
  <p><em>Chỉnh sửa lần cuối vào ngày 10/8/2015</em></p>
</div>
