<section class="col-sm-12 focus-outline">
  <a id="main-content"></a>
  <h1 class="page-header focus-outline">CHÍNH SÁCH QUYỀN RIÊNG TƯ</h1>
  <div class="region region-content focus-outline">
    <section id="block-system-main" class="block block-system block--system-main clearfix focus-outline"
      role="navigation">
      <div id="node-4998" class="node node-page clearfix focus-outline" about="/vi/chinh-sach-bao-mat"
        typeof="sioc:Item foaf:Document" role="article">
        <span property="dc:title" content="CHÍNH SÁCH QUYỀN RIÊNG TƯ" class="rdf-meta element-hidden"></span>
        <div class="content focus-outline">
          <div class="field field-name-title-field field-type-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">CHÍNH SÁCH QUYỀN RIÊNG TƯ</div>
            </div>
          </div>
          <div class="field field-name-body field-type-text-with-summary field-label-hidden focus-outline">
            <div class="field-items focus-outline">
              <div class="field-item even focus-outline" property="content:encoded">
                <h2 class="para-h">Tuyên bố về Quyền riêng tư của </h2>
                <div class="para">
                  <div class="para-sub" style="float:left">
                    <p>Đây là Tuyên bố về Quyền riêng tư của trang web <a href="https://customer.theclassic.studio"
                        tabindex="25">https://customer.theclassic.studio</a> (<strong>"Trang web"</strong>). Trang này được điều
                      hành và duy trì bởi đơn vị The Classic Studio được nhắc đến trong phần "Chủ sở hữu Trang web" của
                      trang web này (sau đây gọi là "chúng tôi"). là bên kiểm soát việc xử
                      lý tất cả các dữ liệu cá nhân được thu thập thông qua trang web này.
                    </p>
                    <p>Classic Studio hoạt động trong lĩnh vực nghệ thuật: quay phim ,chụp ảnh. Chúng tôi muốn mang đến cho bạn các trải nghiệm tuyệt vời nhất có thể về Dulux. Chúng tôi sử dụng
                      các thông tin mà bạn chia sẻ với chúng tôi để giúp dịch vụ của chúng tôi và trải nghiệm của bạn
                      trở nên tốt hơn. Tuyên bố về Quyền riêng tư này nhằm mục đích giúp bạn hiểu rõ về cách chúng tôi
                      có thể sử dụng dữ liệu cá nhân của bạn, nỗ lực của chúng tôi trong việc bảo vệ dữ liệu của bạn và
                      các tùy chọn mà bạn có để kiểm soát dữ liệu cá nhân và bảo vệ quyền riêng tư của bạn.</p>

                    <p>Tuyên bố về Quyền riêng tư này có thể được thay đổi theo thời gian. Người dùng Trang web nên
                      thường xuyên xem lại Tuyên bố về Quyền riêng tư để biết những thay đổi có thể có. Tuyên bố về
                      Quyền riêng tư này đã được thay đổi lần cuối vào <strong>1/11/2019.</strong></p>

                    <p>Tuyên bố về Quyền riêng tư này có thể được lưu trữ hoặc in ra bằng cách sử dụng các nút phía trên
                      trang này.</p>

                  </div>
                </div>
                <h2 class="para-h"></h2>
                <div class="para focus-outline">
                  <div class="para-sub focus-outline" style="float:left">
                    <h3>Tuyên bố về Quyền riêng tư này được áp dụng khi nào?</h3>

                    <p>Tuyên bố về Quyền riêng tư này được áp dụng để xử lý các dữ liệu cá nhân của người dùng thông qua
                      Trang web này.</p>

                    <h3>Chúng tôi xử lý dữ liệu cá nhân của bạn nhằm mục đích gì?</h3>

                    <p>Chúng tôi sử dụng dữ liệu cá nhân của bạn cho một số mục đích khác nhau. Bạn sẽ thấy nội dung
                      tổng quan về các loại dữ liệu cá nhân và các mục đích sử dụng dưới đây.</p>

                    <ul>
                      <li>
                        <p><strong>Để cung cấp Trang web hoặc ứng dụng cho bạn và quản lý kỹ thuật và chức năng của
                            Trang web khi bạn sử dụng Trang web hoặc Ứng dụng của chúng tôi.</strong><br>
                          Chúng tôi xử lý các dữ liệu kỹ thuật như địa chỉ IP của bạn, trình duyệt internet bạn sử dụng,
                          các trang web đã truy cập, các trang web đã truy cập trước đó/tiếp theo và thời gian truy cập
                          nhằm mục đích cung cấp các chức năng của Trang web để cho phép tìm kiếm thông tin nhanh chóng
                          và đơn giản. Những dữ liệu này cũng được sử dụng để giải quyết các khó khăn về kỹ thuật hoặc
                          để cải thiện khả năng truy cập đến một số phần của trang web. Để đạt được mục đích này, chúng
                          tôi cũng sử dụng các cookie</p>
                      </li>
                      <li>
                        <p><strong>Để quản lý tài khoản và đảm bảo tính bảo mật và an ninh của việc trải nghiệm khi bạn mở
                            một tài khoản Classic với chúng tôi.</strong></p>
                      </li>
                    </ul>
                    <h5>Mục đích này yêu cầu những gì?</h5>

                    <p>Khi bạn lựa chọn đăng ký với chúng tôi, bạn cần phải cung cấp dữ liệu cá nhân như tên, địa chỉ
                      email hợp lệ và bất kỳ thông tin nào khác theo yêu cầu, để chúng tôi có thể tạo một tài khoản cá
                      nhân cho bạn. Sau khi tạo tài khoản, chúng tôi sẽ gửi cho bạn các thông tin đăng nhập cá nhân.
                      Những dữ liệu cá nhân này cho phép chúng tôi quản lý tài khoản của bạn và cho phép chúng tôi đảm
                      bảo tính bảo mật và duy trì an ninh của việc mua hàng. Chúng tôi cũng xử lý các dữ liệu như tên
                      hiển thị, vai trò và dữ liệu đăng nhập của bạn. Ví dụ, chúng tôi có thể thay đổi mật khẩu cho bạn.
                      Tuy nhiên chúng tôi sẽ không thể xem mật khẩu của bạn.</p>

                    <ul>
                      <li><strong>Cho mục đích phát triển và cải tiến các sản phẩm và dịch vụ</strong></li>
                    </ul>
                    <h5>Mục đích này yêu cầu những gì?</h5>

                    <p>Chúng tôi sử dụng dữ liệu cá nhân tổng hợp để phân tích hành vi khách hàng và điều chỉnh sản phẩm
                      và dịch vụ của chúng tôi cho phù hợp, để đảm bảo rằng sản phẩm hoặc dịch vụ có liên quan đến khách
                      hàng của chúng tôi. Điều này có nghĩa là chúng tôi sẽ phân tích tần suất đọc bản tin của bạn, số
                      lần bạn ghé thăm Trang web của chúng tôi, các trang bạn nhấp vào và những hàng hóa bạn mua thông
                      qua trang web của chúng tôi. Dựa trên thông tin này, chúng tôi có thể thực hiện điều chỉnh về
                      những dịch vụ hoặc hàng hóa cung cấp, bản tin hoặc Trang web của chúng tôi. Chúng tôi cũng có thể
                      điều chỉnh các chương trình khuyến mãi của chúng tôi trên cơ sở các phân tích. Chúng tôi cũng có
                      thể thực hiện nghiên cứu về xu hướng thị trường thông qua phân tích thống kê để đánh giá và điều
                      chỉnh các sản phẩm và tiếp thị của chúng tôi phù hợp với những sự phát triển mới, nhưng kết quả
                      nghiên cứu sẽ chỉ được báo cáo trên cơ sở tổng hợp. Chúng tôi có thể mua thêm dữ liệu từ các nguồn
                      công cộng để bổ sung vào cơ sở dữ liệu của chúng tôi cho các mục đích trên.</p>

                    <p><strong>Lựa chọn của bạn</strong></p>

                    <ul>
                      <li><strong>Để quản lý sự tham gia của bạn nếu bạn tham gia vào các cuộc thi có thưởng, các sự
                          kiện, các cuộc tranh tài, chương trình khuyến mãi và/hoặc các trò chơi may rủi.</strong></li>
                    </ul>
                    <h5>Mục đích này yêu cầu những gì?</h5>

                    <p>Với sự đồng ý của bạn, chúng tôi có thể gửi email cho bạn về các chương trình khuyến mãi và các
                      lời mời tham gia vào các cuộc thi có thưởng, các sự kiện, các cuộc tranh tài hoặc trò chơi may
                      rủi. Nếu bạn chọn tham gia vào một trong những hoạt động này, chúng tôi cần dữ liệu cá nhân của
                      bạn để có thể công bố và tổ chức các hoạt động này. Ngoài ra, nếu bạn tham gia vào bất kỳ hoạt
                      động nào trong số đó, chúng tôi cần dữ liệu cá nhân của bạn để thông báo khi bạn giành chiến
                      thắng, để trao thưởng và để đo mức độ phản ứng đối với các cuộc thi có thưởng, các sự kiện, các
                      cuộc tranh tài, chương trình khuyến mãi và/hoặc trò chơi may rủi. Để làm điều này, chúng tôi sẽ xử
                      lý tên, địa chỉ, địa chỉ email và các mục thông tin bạn nhập khi tham gia hoạt động</p>

                    <ul>
                      <li><strong>Để gửi cho bạn thông tin được cá nhân hóa về Classic Studio chỉ khi bạn đã đồng ý với điều
                          này trong quá trình đăng ký tài khoản của bạn</strong></li>
                    </ul>
                    <h5>Mục đích này yêu cầu những gì?</h5>

                    <p>Bạn có thể chọn nhận thông báo quảng cáo được cá nhân hóa, bao gồm bản tin được cá nhân hóa, từ
                      Classic Studio, được thiết kế riêng hướng tới sở thích cá nhân của bạn. Để làm điều này, chúng tôi sẽ
                      tạo các hồ sơ và phân tích các tương tác của bạn với chúng tôi. Chúng tôi sẽ xem xét các dữ liệu
                      cá nhân như:
                      - tên, giới tính, ngày sinh, địa chỉ email, và địa chỉ
                      - sở thích và các mối quan tâm của bạn, chẳng hạn như những điều mà bạn đã tích cực chia sẻ với
                      chúng tôi, nhưng cũng có cả những điều được suy luận thông qua các tương tác đăng ký của bạn với
                      các trang web và các ứng dụng của Classic Studio (mà theo đó chúng tôi có thể sử dụng cookie);
                      - lịch sử mua sắm của bạn, cả trực tuyến (nếu bạn dẫn liên kết mua hàng vào hồ sơ của bạn) và
                      ngoại tuyến (khi thực hiện một giao dịch mua hàng ngoại tuyến); và
                      - các liên kết bạn nhấp vào trong email của chúng tôi.
                      Bằng cách này, chúng tôi sẽ tìm hiểu về các mối quan tâm của bạn và có thể đảm bảo rằng chúng tôi
                      sẽ cung cấp cho bạn những thông tin và chương trình khuyến mãi mà bạn quan tâm nhất. Chúng tôi
                      cũng có thể yêu cầu bạn cho ý kiến về các sản phẩm và dịch vụ của chúng tôi. Nếu bạn không muốn
                      nhận thêm bất kỳ tin nhắn nào hoặc nếu bạn muốn chọn từ chối nhận hoặc xem một hình thức giao tiếp
                      cụ thể với chúng tôi (ví dụ như tin nhắn SMS, truyền thông xã hội, email hoặc thư thường), bạn chỉ
                      cần làm theo các bước trong hình thức giao tiếp cụ thể đó.</p>

                    <h3>Ai có quyền truy cập vào dữ liệu của bạn?</h3>

                    <p>Chúng tôi xử lý các dữ liệu của bạn một cách thận trọng và bảo mật cũng như không chia sẻ dữ liệu
                      của bạn với các bên thứ ba nào khác ngoài các bên được nêu rõ trong Tuyên bố về Quyền riêng tư
                      này.</p>

                    <ul>
                      <li>
                        <p><strong>Với các nhà cung cấp dịch vụ</strong><br>
                          Chúng tôi sử dụng các công ty khác nhau để xử lý dữ liệu thay mặt chúng tôi, chẳng hạn như các
                          công ty lưu trữ, các bên thực hiện dịch vụ giao hàng, các bên cung cấp dịch vụ thanh toán và
                          các cơ quan xếp hạng tín dụng. Các công ty này sử dụng thông tin của bạn thay mặt chúng tôi,
                          và phải tuân thủ các quy định nghiêm ngặt khi xử lý thông tin của bạn. Chúng tôi không cho
                          phép các công ty đó sử dụng các dữ liệu này theo bất kỳ cách nào khác với các hướng dẫn của
                          chúng tôi.</p>
                      </li>
                      <li>
                        <p><strong>Các bên thứ 3 khác</strong><br>
                          Chúng tôi có thể cần phải tiết lộ thông tin cá nhân theo yêu cầu của các cơ quan chính phủ
                          hoặc các cơ quan thực thi pháp luật. Chúng tôi sẽ chỉ tiếp tục chia sẻ thông tin của bạn với
                          các công ty hoặc cá nhân khác khi chúng tôi có sự đồng ý hợp lệ của bạn để làm như vậy.</p>
                      </li>
                    </ul>
                    <h3>Cách xử lý các liên kết đến các trang web khác và phương tiện truyền thông xã hội?</h3>

                    <h5>Các trang web bên ngoài</h5>

                    <p>Trên Trang web, bạn sẽ tìm thấy một số liên kết đến các trang web khác. Mặc dù các trang web này
                      được lựa chọn cẩn thận, chúng tôi không chịu trách nhiệm về việc xử lý các dữ liệu cá nhân của bạn
                      thông qua các trang web này. Điều khoản và [Điều kiện] (/vi/legal) cũng như Tuyên bố về Quyền
                      riêng tư của chúng tôi sẽ không áp dụng đối với việc sử dụng các trang web này.</p>

                    <h5>Phương tiện truyền thông xã hội</h5>

                    <p>Trang web và các Ứng dụng của chúng tôi có thể cung cấp cho bạn các phần bổ sung từ các mạng xã
                      hội khác nhau. Nếu bạn chọn tương tác với mạng xã hội (ví dụ bằng cách đăng ký một tài khoản),
                      hoạt động của bạn trên Trang web của chúng tôi hoặc thông qua các Ứng dụng của chúng tôi cũng sẽ
                      được cung cấp cho các mạng xã hội như Facebook và Twitter.</p>

                    <p>Nếu bạn đã đăng nhập vào một trong các mạng xã hội trong quá trình bạn truy cập vào một trong các
                      Trang web hoặc Ứng dụng của chúng tôi, các mạng xã hội có thể thêm thông tin này vào hồ sơ tương
                      ứng của bạn trên mạng này. Nếu bạn đang tương tác với một trong những phần bổ sung của mạng xã
                      hội, thông tin này sẽ được chuyển đến mạng xã hội. Trong trường hợp bạn không muốn chuyển dữ liệu
                      này, vui lòng đăng xuất khỏi mạng xã hội của bạn trước khi bạn vào một trong những Trang web hoặc
                      Ứng dụng của chúng tôi.</p>

                    <p>Chúng tôi cũng đem đến cơ hội tạo tài khoản với chúng tôi thông qua tài khoản mạng xã hội của bạn
                      (như Facebook). Điều này sẽ giúp bạn tiết kiệm thời gian trong việc tạo tài khoản này vì các chứng
                      danh đăng nhập sẽ được nhập vào tài khoản mạng xã hội của bạn. Vui lòng lưu ý rằng khi bạn sử dụng
                      tùy chọn "đăng nhập qua mạng xã hội", chúng tôi có thể nhận được một số thông tin qua mạng xã hội,
                      chẳng hạn như tên, tuổi, địa điểm, sở thích, nghề nghiệp, và các thông tin khác từ hồ sơ công khai
                      của bạn, và cũng có thể cũng truy cập đến các hình ảnh hoặc danh sách bạn bè của bạn trên mạng xã
                      hội. Những thông tin này không được chúng tôi yêu cầu, nhưng được mạng xã hội cung cấp thông qua
                      việc sử dụng tùy chọn đăng nhập qua mạng xã hội. Khi bạn sử dụng tùy chọn đăng nhập qua mạng xã
                      hội, chúng tôi sẽ chỉ nhập các thông tin cần thiết để tạo tài khoản của bạn với chúng tôi và sau
                      khi nhận được bất kỳ thông tin nào khác, chúng tôi sẽ loại bỏ các thông tin nhận được thông qua
                      mạng xã hội. Sau khi đã tạo tài khoản, bạn sẽ có cơ hội bổ sung vào tài khoản của mình bất kỳ
                      thông tin nào mà bạn muốn chia sẻ với chúng tôi.</p>

                    <p>Nền tảng phương tiện truyền thông xã hội của bạn sẽ hiển thị các quảng cáo của Classic Studio thông
                      qua các trang truyền thông xã hội ở phạm vi bạn cho phép thông qua các thiết đặt bảo mật của nhà
                      cung cấp phương tiện truyền thông xã hội</p>

                    <p>Vui lòng đọc chính sách bảo mật của các mạng xã hội này để biết thông tin chi tiết về việc thu
                      thập và chuyển giao dữ liệu cá nhân, quyền lợi mà bạn có và cách bạn có thể có các thiết đặt thỏa
                      đáng về quyền riêng tư.</p>

                    <h3>Người dưới 16 tuổi có thể cung cấp dữ liệu cá nhân không?</h3>

                    <p>Người dưới 16 tuổi chỉ có thể cung cấp dữ liệu cá nhân cho Classic Studio nếu
                      họ có sự cho phép bằng văn bản của phụ huynh hoặc người giám hộ hợp pháp đã đọc Tuyên bố về Quyền
                      riêng tư này.</p>

                    <h3>Cách thức bảo mật dữ liệu của chúng tôi?</h3>

                    <p>Dữ liệu cá nhân của bạn được xử lý bảo mật một cách nghiêm ngặt và chúng tôi đã thực hiện các
                      biện pháp an ninh kỹ thuật và tổ chức phù hợp để chống mất mát hoặc xử lý trái phép các dữ liệu
                      này. Để đạt được mục đích này, chúng tôi sử dụng một số kỹ thuật bảo mật bao gồm các máy chủ an
                      ninh, tường lửa và mã hóa, cũng như các biện pháp bảo vệ vật lý tại nơi lưu trữ dữ liệu.</p>

                    <h4>Duy trì dữ liệu</h4>

                    <p>Chúng tôi sẽ không duy trì dữ liệu cá nhân của bạn trong khoảng thời gian dài hơn cần thiết để
                      đạt được các mục đích của việc thu thập dữ liệu, hoặc khoảng thời gian pháp luật quy định.</p>

                    <p>Tôi có thể gửi các câu hỏi và yêu cầu truy cập, loại bỏ, v.v. đến ai<br>
                      Bạn có thể yêu cầu quyền truy cập đến các dữ liệu cá nhân của bạn mà chúng tôi xử lý bất kỳ lúc
                      nào, và thực hiện các điều chỉnh hoặc loại bỏ dữ liệu cá nhân này bằng cách gửi yêu cầu đến:</p>

                    <p class="focus-outline">THE CLASSIC STUDIO VIỆT NAM
                      Địa chỉ : 42-43 Tống Phước Phổ, Q. Hải Chẩu. TP. Đà Nẵng
                      Điện thoại : (84) 773420210</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
